{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="formwrapper">
    <a href="/nascar">Nascar Home</a>
<div class="page-header" id="Create_Pool">
    <h1>Create Pool</h1>
</div>

<div class="col-md-3" id="createpool">
<br>
<br>
{{  wtf.quick_form(form)  }}

</div>
</div>

<script>
$(document).ready(function() {

    let hooey = $('select[name="series"]').val()
    console.log('does this work: ' + hooey)

    $('#series').change(function() {
        $('#race-races option').remove();
        $.ajax({
            type: "GET",
            url: "/ajax_get_races",
            processData: "false",
            data: {series: $('select[name="series"]').val()},
            dataType:"json",
            xhrFields: {
                withCredentials: true
            },
            crossDomain: true,
            success: function(data) {
                console.log(data);
                race_data = '';
                $.each(data, function() {
                    //race_id = toString($(this).attr('race_id');
                    race_data += '<option value=\"' +$(this).attr('race_id')+ '\">'+ $(this).attr('race_name') + ' @ ' + $(this).attr('track') +'</option>';
                });  // end each
                $('select[name="race-races"]').append(race_data);
            }  //end success
        });  //end ajax
    });  // end process input

});

</script>


{% endblock %}