{% extends "base.html" %}
{% block content %}
    <div class="container" id="room_activity">
        <h3 style='color: #ccc;font-size: 15px;'>Room Activity</h3>
        <ul id="messages"></ul>
    </div>
    <br>
    <br>
    <button id="join_room_button">Join Room</button>
    <div class="container" id="room_creator">
        <b><input type="text" id="roomName" placeholder="RoomName" /></b>
        <button id="sendbutton">Create</button>
    </div>

    <br>
    <div class="input-group mb-3" id="join_room_list">
        <select class="custom-select" id="room_selector" name="room_drop_down">
            <option selected>Choose Draft</option>
        </select>
    </div>





    <input type="text" id="message">
    <button id="send">Send</button>
    <input type="text" id="myMessage" placeholder="Messages"/>
    <input type="text" id="username">
    <button id="send_username">Send Username</button>

    <br>
    <br>
    <br>
     <h3 style='color: #ccc;font-size: 30px;'>No message yet</h3>
    Send To:  <input type="text" id="send_to_username">
    Messager:  <input type="text" id="private_message">


    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#join_room_list').hide();


        var socket =io.connect('http://' +document.domain + ':' + location.port + '/draft2', {transports: ['websocket']});

        $('#sendbutton').on('click', function() {
            console.log($('#roomName').val());
            socket.emit('join', {'draft_name' : $('#roomName').val()});
        });

        $('#room_selector').on('change', function() {
            console.log($('#room_selector').val());
            socket.emit('join', {'draft_name' : $('#room_selector').val()});
        });

        $('#join_room_button').on('click', function() {
            console.log('join room button')
            socket.emit('get_room_list');
         });

        socket.on('user_join_room', function(msg) {
            $('#messages').append('<li>'+ msg.user +' has joined the room</li>');
        });

        socket.on('rec_room_list', function(msg) {
           $('#room_selector option').remove();
           drafts_data = '';
           drafts_data += '<option selected>Choose Draft</option>';
           console.log(msg)
           console.log('in the rec_room_list function')
                $.each(msg, function() {
                    drafts_data += '<option>' +$(this).attr('draft_name')+ '</option>';
                });  // end each
                console.log(drafts_data)
                $('#room_selector').append(drafts_data);
            $('#join_room_list').show();
        });

        socket.on('new draft', function(msg) {
            $('#messages').append('<li>'+ msg.draft_name +' draft created by ' + msg.user +'</li>');
        });

        // **var private_socket = io.connect('http://' +document.domain + ':' + location.port +'/draft2', {transports: ['websocket']})

        //$('#send').on('click', function() {
        //    var message= $('#message').val();
        //    console.log(message);
        //    socket_messages.emit('message from user', message);
        //});

        //private_socket.on('from flask', function(msg) {
        //    console.log(msg);
        //    alert(msg);
        //});

        //socket.on('server originated', function(msg) {
        //    console.log(msg);
        //    alert(msg);
        //});

        //var private_socket = io('http://' +document.domain + ':' + location.port +'/draft', {transports: ['websocket']});

        //**$('#send_username').on('click', function() {
        //**    console.log($('#username').val());
        //**    private_socket.emit('username', $('#username').val());
        //**});

        //**$('#send_private_message').on('click', function() {
        //**    var recipient = $('#send_to_username').val();
        //**    console.log(recipient);
        //**    var message_to_send = $('#private_message').val();
        //**    console.log(message_to_send);

        //**    private_socket.emit('private_message', {'username' : recipient, 'message' :  message_to_send});

        //**});

        //**private_socket.on('new_private_message', function(msg)  {
        //**console.log(msg);
        //**alert(msg);

        //**});
        //socket.on('connect', function() {
        //    socket.send($('#myName').val() + ' user has connected!');
        //});  //end connect

        //socket.on('json', function(msg) {
        //    $('#messages').append('<li>'+ msg.name +': ' + msg.message +'</li>');
        //    console.log('message received')
        //});  //end message

        //$('#sendbutton').on('click', function() {
        //    socket.send({'name': $('myName').val(),'message': $('#myMessage').val()});
        //    $('myMessage').val('');
        //});  //end click

    });  //end ready
    //var socket =io.connect('http://' +document.domain + ':' + location.port, {transports: ['websocket']});
    //socket.on('connect', function() {
    //    console.log('this is javascript connect script')
    //    socket.emit('first_comm', 'this is javascript send to message');
    //    });

    //socket.on('response', function(msg) {
    //    console.log('this is the javascript response script ' +msg)
    //    $( 'div.room_holder').append( '<div><b style="color: #000">Room:  : </b>'+msg.room+'</div>' )
    //    });

    //$('#load').on('submit', function() {
    //    let user_name = $('input.username').val();
    //    let user_input =$('input.message').val();
    //        socket.emit('chatter', {
    //                'username' : user_name,
    //                'message' : user_input
    //                })
    //});

    //socket.on('chat_resp', function(msg) {
    //    $( 'h3' ).remove();
    //    $( 'div.message_holder').append( '<div><b style="color: #000">' +msg.username + ' : </b>'+msg.message+'</div>' )


    </script>


{% endblock %}