{% extends "base.html" %}
{% block content %}
    <h3 style='color: #ccc;font-size: 30px;'>No message yet</h3>
    <div  class="room_holder"></div>
    <div  class="message_holder"></div>


    <ul id="messages"></ul>
        <b><input type="text" id="myName" placeholder="Name" value="{{  email  }}"/></b>
        <input type="text" id="myMessage" placeholder="Messages"/>
        <button id="sendbutton">Send</button>

    <input type="text" id="message">
    <button id="send">Send</button>

    <input type="text" id="username">
    <button id="send_username">Send Username</button>

    <br>
    <br>
    <br>

    Send To:  <input type="text" id="send_to_username">
    Messager:  <input type="text" id="private_message">
    <button id="send_private_message">Send</button>

    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

        var socket =io.connect('http://' +document.domain + ':' + location.port, {transports: ['websocket']});

        var socket_messages = io('http://' +document.domain + ':' + location.port +'/draft', {transports: ['websocket']})

        $('#send').on('click', function() {
            var message= $('#message').val();
            socket_messages.emit('message from user', message);
        });

        socket_messages.on('from flask', function(msg) {
            alert(msg);
        });

        socket.on('server originated', function(msg) {
            alert(msg);
        });

        var private_socket = io('http://' +document.domain + ':' + location.port +'/draft', {transports: ['websocket']});

        $('#send_username').on('click', function() {
            private_socket.emit('username', $('#username').val());
        });

        $('#send_private_message').on('click', function() {
            var recipient = $('#send_to_username').val();
            var message_to_send = $('#private_message').val();

            private_socket.emit('private_message', {'username' : recipient, 'message' :  message_to_send});

        });

        private_socket.on('new_private_message', function(msg)  {
        alert(msg);

        });
        socket.on('connect', function() {
            socket.send($('#myName').val() + ' user has connected!');
        });  //end connect

        socket.on('json', function(msg) {
            $('#messages').append('<li>'+ msg.name +': ' + msg.message +'</li>');
            console.log('message received')
        });  //end message

        $('#sendbutton').on('click', function() {
            socket.send({'name': $('myName').val(),'message': $('#myMessage').val()});
            $('myMessage').val('');
        });  //end click

    });  //end ready
    //var socket =io.connect('http://' +document.domain + ':' + location.port, {transports: ['websocket']});
    //socket.on('connect', function() {
    //    console.log('this is javascript connect script')
    //    socket.emit('first_comm', 'this is javascript send to message');
    //    });

    //socket.on('response', function(msg) {
    //    console.log('this is the javascript response script ' +msg)
    //    $( 'div.room_holder').append( '<div><b style="color: #000">Room:  : </b>'+msg.room+'</div>' )
    //    });

    //$('#load').on('submit', function() {
    //    let user_name = $('input.username').val();
    //    let user_input =$('input.message').val();
    //        socket.emit('chatter', {
    //                'username' : user_name,
    //                'message' : user_input
    //                })
    //});

    //socket.on('chat_resp', function(msg) {
    //    $( 'h3' ).remove();
    //    $( 'div.message_holder').append( '<div><b style="color: #000">' +msg.username + ' : </b>'+msg.message+'</div>' )


    </script>


{% endblock %}