{% extends "base.html" %}
{% block content %}
    <h3 style='color: #ccc;font-size: 30px;'>No message yet</h3>
    <div  class="message_holder"></div>

    <form action="" method="GET" id="load">
        <input type="text" class="username" placeholder="User Name"/>
        <input type="text" class="message" placeholder="Messages"/>
        <input type="Submit"/>

    </form>
    <button onclick="createDraft()">Create Draft</button>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">

    var socket =io();
    socket.on('connect', function() {
        console.log('this is javascript connect script')
        socket.emit('message', 'this is javascript send to message');
        });

    socket.on('response', function(msg) {
        console.log('this is the javascript response script ' +msg)
        });
    </script>


{% endblock %}