{% extends "base.html" %}
{% block content %}
<div class="container">
    <p>{{  text  }}</p>
    <h2>Drivers Loaded for  </h2>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Driver</th>
                <th scope="col">Car Number</th>
                <th scope="col">Manufacturer</th>

            </tr>
        </thead>
        <tbody>
        {% for entrant in entrants %}
            <tr>
                <td>{{ entrant['drv_full'] }}</td>
                <td>{{ entrant['car_num'] }}</td>
                <td>{{ entrant['mfg'] }}</td>

            </tr>
            {% endfor %}
        </tbody>

    </table>
    <h2>Drivers Ignored for </h2>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Driver</th>
                <th scope="col">Car Number</th>
                <th scope="col">Manufacturer</th>

            </tr>
        </thead>
        <tbody>
        {% for entrant in ignore_list %}
            <tr>
                <td>{{ entrant['drv_full'] }}</td>
                <td>{{ entrant['car_num'] }}</td>
                <td>{{ entrant['mfg'] }}</td>

            </tr>
            {% endfor %}
        </tbody>

    </table>
<script>
    console.log(entrants);
</script>
</div>
{% endblock %}