{% extends "base.html" %}
{% block content %}
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
<div class="container">
    <p>{{  text  }}</p><a href="/nascar/admin">Return to Nascar Admin</a>
    {% if entrants %}
    <h2>Drivers Loaded for {{  entrants[0]['race_name']  }} </h2>
    {% elif ignore_list %}
    <h2>Drivers Loaded for {{  ignore_list[0]['race_name']  }} </h2>
    {% else %}
    <h2>No new data from SportRadar</h2>
    {% endif %}
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Driver</th>
                <th scope="col">Car Number</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Crew_Chief</th>
                <th scope="col">Owner ID</th>
                <th scope="col">Team ID ID</th>
            </tr>
        </thead>
        <tbody>
        {% for entrant in entrants %}
            <tr>
                <td>{{ entrant['drv_full'] }}</td>
                <td>{{ entrant['car_num'] }}</td>
                <td>{{ entrant['mfg'] }}</td>
                <td>{{ entrant['crew_chief'] }}</td>
                <td>{{ entrant['owner_id'] }}</td>
                <td>{{ entrant['team_id'] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% if entrants %}
    <h2>Drivers Ignored for {{  entrants[0]['race_name']  }} </h2>
    {% elif ignore_list %}
    <h2>Drivers Ignored for {{  ignore_list[0]['race_name']  }} </h2>
    {% else %}
    <h2>No new data from SportRadar</h2>
    {% endif %}
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Driver</th>
                <th scope="col">Car Number</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Crew Chief</th>
                <th scope="col">Owner ID</th>
                <th scope="col">Team ID</th>
            </tr>
        </thead>
        <tbody>
        {% for entrant in ignore_list %}
            <tr>
                <td>{{ entrant['drv_full'] }}</td>
                <td>{{ entrant['car_num'] }}</td>
                <td>{{ entrant['mfg'] }}</td>
                <td>{{ entrant['crew_chief'] }}</td>
                <td>{{ entrant['owner_id'] }}</td>
                <td>{{ entrant['team_id'] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
{% endblock %}