{% extends "base.html" %}
{% block content %}


<body>

    <div class="container">
        <h3>Welcome!  Best programming language</h3>
            <form action="/test">
                <div class="input-group mb-3">
                    <a href="#" id="process_input_s"><select class="custom-select" id="series_drop_down" name="series_drop_down">
                    <option selected>Choose Series</option>
                    <option value="CUP">CUP</option>
                    <option value="XFINITY">XFINITY</option>
                    <option value="TRUCK">TRUCK</option>
                    </select></a>
                </div>

                <div class="input-group mb-3">
                    <a href="#" id="process_input_r"><select class="custom-select" id="race_drop_down" name="race_drop_down">

                    </select></a>
                </div>
                <button type="submit" class="btn btn-success" >Load Data</button>
            </form>
    <form id="loadEntrants" action="/nascar/load/entrants" method="post">
        <div class="form-row">

            <div class="input-group mb-3">
                <a href="#" id="process_input_se"><select class="custom-select" id="series_drop_down_se" name="series_drop_down_se">
                    <option selected>Choose Series</option>
                    <option value="sc">CUP</option>
                    <option value="xf">XFINITY</option>
                    <option value="go">TRUCK</option>
                </select></a>
            </div>
            <div class="input-group mb-3">
                <a href="#" id="process_input_ser"><select class="custom-select" id="race_drop_down_re" name="race_drop_down_re">
                </select></a>

            </div>
            <div class="form-group col-md-6" id="entrant_file">
                <label for="description">File</label>
                <input type="text" id="fileEntrant" class = "form-control" name="file" value="entry_list.json" readonly>
            </div>
        </div>
        <button type="submit" class="btn btn-success" >Load Data</button>
    </form>

        <p>{{ ser_list[30]["race_name"] }}</p>
        <p id="result"></p>
   </div>
        <ul class="list-group" id="other">
            <li class="list-group-item" id="first"></li>
        </ul>

<script>
    $(document).ready(function() {
        $('#process_input_s').change(function() {
            $('#race_drop_down option').remove();
            $.ajax({
                type: "GET",
                url: "/backgroundProcess",
                processData: "true",
                data: {proglang: $('select[name="series_drop_down"]').val()},
                dataType:"json",
                success: function(data) {
                    //var stuff = data[40].race_name;
                    console.log(data);
                    //console.log(stuff);
                    //$("#series_drop_down").append('<option>' + stuff + '</option>');
                    race_data = '';
                    $.each(data, function() {
                        race_data += '<option>'+ $(this).attr('race_name') + '@' + $(this).attr('track') +'</option>';
                    });  // end each
                $('#race_drop_down').append(race_data);
            }  //end success
            });  //end ajax
        });  // end process input
    });  //end ready

    //$("#series_drop_down").text(data[0]["race_name"]);
    //},
    //error: function(x,y,z) {
    //console.log(x);
    //console.log(y);
    //console.log(z);
    //}

   // $.getJSON('/backgroundProcess', {
   // 'proglang' : $('input[name="proglang"]').val(),
   // }, function(data) {
   // $("#result").text(data.result);

    //});
    //return false;
    //});  // end process_input
    //});  //end ready
</script>

</body>


{% endblock %}