{% extends "base.html" %}
{% block content %}


<body>

    <div class="container">
        <h3>Welcome!  Best programming language</h3>
            <form>
                <input type="text" size="15" name="proglang" id="text_input">
                <a href="#" id="process_input"><button class="btn btn-default">Submit</button></a>
            </form>
            <form>
                <select class="custom-select" id="series_drop_down" name="series_drop_down">
                <option>Choose Series</option>
                </select>
            </form>
        <h4>{{ race_name }}</h4>
        <p id="result"></p>
    </div>
<script>
    $(document).ready(function() {
        $('#process_input').bind('click', function() {
            $.ajax({
            type: "GET",
            url: "/backgroundProcess",
            processData: "true",
            data: {proglang: $('input[name="proglang"]').val()},
            dataType:"json",
            success: function(data) {
                //$select.find('<option>').remove();
                var race_data = '';
                $.each(data, function(key, val) {
                    race_data += '<option>'+val.race_name+'</option>';
                });  // end each
                $('#series_drop_down").append(race_data);
            }  //end success
            });  //end ajax
        });  // end process input
    });  //end ready

    //$("#series_drop_down").text(data[0]["race_name"]);
    //},
    //error: function(x,y,z) {
    //console.log(x);
    //console.log(y);
    //console.log(z);
    //}

   // $.getJSON('/backgroundProcess', {
   // 'proglang' : $('input[name="proglang"]').val(),
   // }, function(data) {
   // $("#result").text(data.result);

    //});
    //return false;
    //});  // end process_input
    //});  //end ready
</script>

</body>


{% endblock %}