{% extends "base.html" %}
{% block content %}

<form id="login-form" action="/auth/login" method="post">
    <div class="container">
        <div class="form-row">
            <div class="form-group col-sm">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" name="email">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm">
                <label for="password">Password</label>
                <input type="password" id="password" class = "form-control" name="password">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success" >Log in</button>
    <a href="/"></a><button type="submit" class="btn btn-primary" >Home</button></a>
</form>
{% endblock %}

