{% extends "base.html" %}
{% block content %}
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>

    <div class="container p-3 my-3 border border-primary">

        <div class ="row">
            <div class="column-sm-12">
                <h5 class="mt-0"><b>Nascar Pool Home Page</b></h5>
                <p>Create a Pool for any of the 3 Nascar series or review historical driver data.</p>
                <p>To create a new pool click on <b>Create Pool</b> button below.</p>
                <p>Pools you are already included in can be found in the list below.</p>
            </div>
        </div>

    </div>

        <div class="row">
            <h4>Join Room: (click on blue link to enter the draft)</h4>
        </div>
        <div class="row">
            <div style="border:2px solid black" class="col-6 py-2">
                <b>Race Name</b>
            </div>
            <div style="border:2px solid black" class="col-6 py-2">
                <b>Room Name</b>
            </div>
        </div>
            {% for draft in drafts %}
            <div style="border:2px solid black" class="col-12">

                <a class="row clickable" href="/view-pool/{{ draft['room_id'] }}">
                    <div class="col-6 py-2">{{ draft['race_name'] }}</div>
                    <div class="col-6 py-2">{{ draft['room_name'] }}</div>
                </a>
            </div>
                {% endfor %}

        <br>

        <a href="/nascar/pool"><button type="submit" class="btn btn-primary" >Create Pool</button></a>
        <a href="/nascar/data"><button type="submit" class="btn btn-primary" >Review Data</button></a>
        <a href="/nascar/admin"><button type="submit" class="btn btn-primary" >Admin</button></a>




{% endblock %}