{% extends "base.html" %}
{% block content %}

<form id="nascar-admin" action="/auth/login" method="post">
    <div class="container">
        <div class="form-row">
            <div class="input-group">
                <select name="admin-select" class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>Choose...</option>
                    <option value="1">Drivers</option>
                    <option value="2">Tracks</option>
                    <option value="3">Schedule</option>
                    <option value="4">Playoff</option>
                    <option value="5">Entry List</option>
                    <option value="6">Practice</option>
                    <option value="7">Qualifying</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Load</button>
                </div>
            </div>
        </div>


     <a href="/"><button type="submit" class="btn btn-primary" >Home</button></a>
    </div>
</form>
{% endblock %}