{% extends "base.html" %}
{% block content %}


    <div class="container">
        <div class="media">
            <img src='/static/images/IMG_1153.jpg' id='img-18'class="img-fluid" alt="Responsive image">
        </div>
        <div class ="row">
            <div class="column">
                <h5 class="mt-0">Nascar Pool and Data</h5>
            </div>
        </div>
        <div class ="row">
            <div class ="column">
                <h6>Create a Pool for any of the 3 Nascar series or review historical driver data.</h6>
            </div>
        </div>

        <a href="/nascar/pool"><button type="submit" class="btn btn-success" >Create Pool</button></a>
        <a href="/nascar/data"><button type="submit" class="btn btn-success" >Review Data</button></a>
        <a href="/nascar/admin"><button type="submit" class="btn btn-success" >Admin</button></a>
        </div>



{% endblock %}