{% extends "base.html" %}
{% block content %}
<div class="container">
   <h1>Sport Radar Data Loads</h1>
   <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Races" >
        <label class="form-check-label" for="exampleRadios1">
        Load Race Events
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Entrants">
        <label class="form-check-label" for="exampleRadios2">
        Load Drivers Entered for a Race
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Qualify" >
        <label class="form-check-label" for="exampleRadios3">
        Load Qualifying Results
        </label>
    </div>
    <form id="loadRaces" action="/nascar/load" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="description">Type Parameter</label>
                <input type="text" id="typeRace" class="form-control" name="type" value="races" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="description">Year</label>
                <input type="text" id="yearRace" class = "form-control" name="year" value="2020">
            </div>
            <div class="form-group col-md-6">
                <label for="description">Series (sc = CUP, xf = Xfinity, go = Truck)</label>
                <input type="text" id="seriesRace" class = "form-control" name="series" value="sc">
            </div>
            <div class="form-group col-md-6">
                <label for="description">File</label>
                <input type="text" id="fileRace" class = "form-control" name="file" value="schedule.json" readonly>
            </div>
        </div>
        <button type="submit" class="btn btn-success" >Load Data</button>
    </form>
    <form id="loadEntrants" action="/nascar/load" method="post">
        <div class="form-row">
            <div class="form-group col-md-6" id="entrant_type">
                <label for="description">Type Parameter</label>
                <input type="text" id="typeEntrantOther" class="form-control" name="type" value="races" readonly>
            </div>
            <div class="input-group mb-3">
                <a href="#" id="process_input"><select class="custom-select" id="series_drop_down" name="series_drop_down">
                    <option>Choose Series</option>
                    <option selected value="CUP">CUP</option>
                    <option value="XFINITY">XFINITY</option>
                    <option value="TRUCK">TRUCK</option>
                </select></a>
            </div>
            <div class="input-group mb-3">
                <select class="custom-select" id="races_drop_down">
                    <option >Choose Race</option>

                    <option selected value="na"></option>

                </select>
            </div>
            <div class="form-group col-md-6" id="entrant_file">
                <label for="description">File</label>
                <input type="text" id="fileEntrant" class = "form-control" name="file" value="entry_list.json" readonly>
            </div>
        </div>
        <button type="submit" class="btn btn-success" >Load Data</button>
    </form>
    <form id="loadQualify" action="/nascar/load" method="post">
        <div class="form-row">
            <div class="form-group col-md-6" id="qual_type">
                <label for="description">Type Parameter</label>
                <input type="text" id="typeQual" class="form-control" name="type" value="races" readonly>
            </div>
            <div class="form-group col-md-6" id="qual_race_id">
                <label for="description">Race ID</label>
                <input type="text" id="race_IDQual" class = "form-control" name="race_ID">
            </div>
            <div class="form-group col-md-6" id="qual_series">
                <label for="description">Series (sc = CUP, xf = Xfinity, go = Truck)</label>
                <input type="text" id="seriesQual" class = "form-control" name="series" value="sc">
            </div>
            <div class="form-group col-md-6" id="qual_file">
                <label for="description">File</label>
                <input type="text" id="fileQual" class = "form-control" name="file" value="qualifying.json" readonly>
            </div>
        </div>
        <button type="submit" class="btn btn-success" >Load Data</button>
    </form>
</div>
<script>
$(document).ready(function() {
$('#loadRaces').hide();
$('#loadEntrants').hide();
$('#loadQualify').hide();
    $(':radio').click(function() {
    var checkedValue = $('input[name="exampleRadios"]:checked').val()
    if (checkedValue == "Races") {
    $('#loadRaces').show();
    $('#loadEntrants').hide();
    $('#loadQualify').hide();
    } else if (checkedValue == "Entrants") {
    $('#loadRaces').hide();
    $('#loadEntrants').show();
    $('#loadQualify').hide();
    $('#entrant_file').hide();
    $('#entrant_type').hide();
    } else if (checkedValue == "Qualify") {
    $('#loadRaces').hide();
    $('#loadEntrants').hide();
    $('#loadQualify').show();
    $('#qual_file').hide();
    $('#qual_type').hide();
    } else {
    alert ("Nothing was chosen which shouldnt happen")
    }
}); //end radio
$(function() {
    $('a#process_input').bind('change', function() {
        $.getJSON('/background_process', {
        series_choice: $('#series_drop_down:selected').val(),
        }, function(data) {
        $("#races_drop_down:selected").val(data.result);
        });
        return false;
    });
});
}); //end ready
</script>
{% endblock %}