{% extends "base.html" %}
{% block content %}
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>

    <div class="container">
        
        <div class ="row">
            <div class="column">
                <h5 class="mt-0">Nascar Pool and Data</h5>
            </div>
        </div>
        <div class ="row">
            <div class ="column">
                <h6>Create a Pool for any of the 3 Nascar series or review historical driver data.</h6>
            </div>
        </div>
    </div>
    <div class="container">
        <h4>Join Room:</h4>
        <center class="row">
            <div style="border:2px solid black" class="col-6 py-2">
                <b>Race Name</b>
            </div>
            <div style="border:2px solid black" class="col-6 py-2">
                <b>Room Name</b>
            </div>
            {% for draft in drafts %}
            <div style="border:2px solid black" class="col-12">

                <a class="row clickable" href="/view-pool/{{ draft['room_id'] }}">
                    <div class="col-6 py-2">{{ draft['race_name'] }}</div>
                    <div class="col-6 py-2">{{ draft['room_name'] }}</div>
                </a>
            </div>
                {% endfor %}
        </center>
    </div>
    <div>
        <a href="/nascar/pool"><button type="submit" class="btn btn-success" >Create Pool</button></a>
        <a href="/nascar/data"><button type="submit" class="btn btn-success" >Review Data</button></a>
        <a href="/nascar/admin"><button type="submit" class="btn btn-success" >Admin</button></a>
    </div>



{% endblock %}