{% extends "base.html" %}
{% block content %}
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
<div class="container">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <a href="/nascar">Nascar Home</a>
   <h1>Sport Radar Data Loads</h1>
   <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Races" >
        <label class="form-check-label" for="exampleRadios1">
        Load Race Events
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Entrants">
        <label class="form-check-label" for="exampleRadios2">
        Load Drivers Entered for a Race
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Race_Results" >
        <label class="form-check-label" for="exampleRadios3">
        Load Race Results
        </label>
    </div>
    <form id="loadRaces" action="/nascar/load" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="description">Type Parameter</label>
                <input type="text" id="typeRace" class="form-control" name="type" value="races" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="description">Year</label>
                <input type="text" id="yearRace" class = "form-control" name="year" value="2020">
            </div>
            <div class="form-group col-md-6">
                <label for="description">Series (sc = CUP, xf = Xfinity, go = Truck)</label>
                <input type="text" id="seriesRace" class = "form-control" name="series" value="sc">
            </div>
            <div class="form-group col-md-6">
                <label for="description">File</label>
                <input type="text" id="fileRace" class = "form-control" name="file" value="schedule.json" readonly>
            </div>
        </div>
        <button type="submit" class="btn btn-success" >Load Data</button>
    </form>
    <form id="loadEntrants" action="/load/entrants" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-row">
            <div class="form-group col-md-6" id="entrant_type">
                <label for="description">Type Parameter</label>
                <input type="text" id="typeEntrantOther" class="form-control" name="type" value="races" readonly>
            </div>
            <div class="input-group mb-3">
                <a href="#" id="process_input"><select class="custom-select" id="series_drop_down" name="series_drop_down">
                    <option selected>Choose Series</option>
                    <option value="sc">CUP</option>
                    <option value="xf">XFINITY</option>
                    <option value="go">TRUCK</option>
                </select></a>
            </div>
            <div class="input-group mb-3">
                <a href="#" id="process_input_r"><select class="custom-select" id="race_drop_down" name="race_drop_down_abc">

                </select></a>
        
   <p id="result"></p>
            </div>
            <div class="form-group col-md-6" id="entrant_file">
                <label for="description">File</label>
                <input type="text" id="fileEntrant" class = "form-control" name="file" value="entry_list.json" readonly>
            </div>
        </div>
        <button type="submit" class="btn btn-success" >Load Data</button>
    </form>
    <form id="loadRaceResult" action="/nascar/race_results" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-row">
            <div class="form-group col-md-6" id="race_result_type">
                <label for="description">Type Parameter</label>
                <input type="text" id="typeRaceResult" class="form-control" name="type" value="races" readonly>
            </div>
            <div class="form-group col-md-6" id="race_result_race_id">
                <label for="description">Race ID</label>
                <input type="text" id="race_IDRaceResult" class = "form-control" name="race_ID">
            </div>
            <div class="form-group col-md-6" id="race_result_series">
                <label for="description">Series (sc = CUP, xf = Xfinity, go = Truck)</label>
                <input type="text" id="seriesRaceResult" class = "form-control" name="series" value="sc">
            </div>
            <div class="form-group col-md-6" id="race_result_file">
                <label for="description">File</label>
                <input type="text" id="fileRaceResult" class = "form-control" name="file" value="results.json" readonly>
            </div>
        </div>
        <button type="submit" class="btn btn-success" >Load Data</button>
    </form>
</div>
<script>
$(document).ready(function() {
    $('#loadRaces').hide();
    $('#loadEntrants').hide();
    $('#loadRaceResult').hide();
    $(':radio').click(function() {
        var checkedValue = $('input[name="exampleRadios"]:checked').val()
        if (checkedValue == "Races") {
            $('#loadRaces').show();
            $('#loadEntrants').hide();
            $('#loadRaceResult').hide();
        } else if (checkedValue == "Entrants") {
            $('#loadRaces').hide();
            $('#loadEntrants').show();
            $('#loadRaceResult').hide();
            $('#entrant_file').hide();
            $('#entrant_type').hide();
         } else if (checkedValue == "Race_Results") {
            $('#loadRaces').hide();
            $('#loadEntrants').hide();
            $('#loadRaceResult').show();
            $('#qual_file').hide();
            $('#qual_type').hide();
         } else {
             alert ("Nothing was chosen which shouldn't happen")
         }
    }); //end radio
    $('#process_input').change(function() {
        $('#race_drop_down option').remove();
        $.ajax({
            type: "GET",
            url: "/ajax_get_races",
            processData: "false",
            data: {series: $('select[name="series_drop_down"]').val()},
            dataType:"json",
            success: function(data) {
                console.log(data);
                race_data = '';
                $.each(data, function() {
                    race_data += '<option value=\"' +$(this).attr('race_id')+ '\">'+ $(this).attr('race_name') + ' @ ' + $(this).attr('track') +'</option>';
                });  // end each
                $('#race_drop_down').append(race_data);
            }  //end success
        });  //end ajax
    });  // end process input
    //$('#process_input').bind('click', function() {
    //    $.getJSON('/background_process', {
    //    "stuff": $('#stuff_inp').val(),
    //    }, function(data) {
    //    $('#result').text(data.result);
    //    });
    //    //return false;
    //});
    //});
}); //end ready
</script>
{% endblock %}