{% extends "base.html" %}
{% block content %}
    <h1>Hello {{ email }}</h1>
    <hr>
        <h2>What would you like to do?</h2>

        <a href="/blogs/new"><button type="submit" class="btn btn-success" >New Blog</button></a>
        <a href="/blogs"><button type="submit" class="btn btn-success" >Read Blogs</button></a>
        <a href="/"><button type="submit" class="btn btn-success" >Home</button></a>
        <a href="/nascar"><button type="submit" class="btn btn-success" >Nascar</button></a>

<div class="container">
   <h1>Test jQuery Area</h1>
   <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
        <label class="form-check-label" for="exampleRadios1">
        Load Race Events
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
        Load Drivers for Each Race
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
        <label class="form-check-label" for="exampleRadios3">
        Load Qualifying Results
        </label>
    </div>
    <form id="loadRaces" action="/nascar/load" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="description">Type Parameter</label>
                <input type="text" id="type" class="form-control" name="type" value="races" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="description">Year</label>
                <input type="text" id="year" class = "form-control" name="year">
            </div>
            <div class="form-group col-md-6">
                <label for="description">Series</label>
                <input type="text" id="series" class = "form-control" name="series">
            </div>
            <div class="form-group col-md-6">
                <label for="description">Series</label>
                <input type="text" id="file" class = "form-control" name="series" value="schedule.json" readonly>
            </div>
        </div>
        <button type="submit" class="btn btn-success" >Load Data</button>
    </form>
</div>
<script>
$(document).ready(function() {
$('#loadRaces').hide();
    $(':radio').click(function() {
    var checkedValue = $('input[name="exampleRadios"]:checked').val()
    if (checkedValue == "option1") {
    $('#loadRaces').show();
    } else if (checkedValue == "option2") {
    $('#loadRaces').hide();
    alert ("Option 2 was choosen")
    } else if (checkedValue == "option3") {
    $('#loadRaces').hide();
    alert ("Option 3 was choosen")
    } else {
    alert ("Nothing was chosen which shouldnt happen")
    }
}); //end radio\
}); //end ready
</script>
{% endblock %}