{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Say Something</h2>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Race Name</th>
                <th scope="col">Series</th>
                <th scope="col">Track</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td>{{ race['race_name'] }}</td>
                <td>{{ race['series'] }}</td>
                <td>{{ race['track'] }}</td>
                <td>{{ race['race_start'] }}</td>
                <td>{{ race['race_status'] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
{% endblock %}