{% extends "base.html" %}
{% block content %}

<form id="nascar-admin" action="/nascar/load" method="post">
    <div class="container">
        <div class="form-row">
            <div class="input-group">
                <select name="admin-select" class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>Choose...</option>
                    <option value="Drivers">Drivers</option>
                    <option value="Tracks">Tracks</option>
                    <option value="Schedule">Schedule</option>
                    <option value="Playoff">Playoff</option>
                    <option value="Entry_list">Entry List</option>
                    <option value="Practice">Practice</option>
                    <option value="Qualifying">Qualifying</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Load</button>
                </div>
            </div>
        </div>
        
    </div>
</form>
<a href="/"><button type="submit" class="btn btn-primary" >Home</button></a>
{% endblock %}