{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h1>Welcome to Pool: {{room_data.room_name}}</h1>
<h3>room id: {{room_data._id}}</h3>
<input type="hidden" id="room_idA" name="room_idA" value="{{  room_data._id  }}">
<br>


<div class="formwrapper">
<div class="page-header" id="View_Pool_Driver_List">

</div>

<div class="col-md-3" id="selectdriver">
<br>
<br>
{{  wtf.quick_form(form)  }}

</div>
</div>




<ul id="msg_list">
    <li>messages</li>
</ul>
<br>
<form id="message_input_form">
    <input type="text" id="message_input" placeholder="Enter your message here">
    <button type="submit">Send</button>
</form>

<h3>Members</h3>
<ul>
    {% for member in room_members %}
        <li>{{  member['_id']['username']  }}</li>
    {% endfor %}
</ul>

<h3>Pick List</h3>
<ul>
    {% for pick in pick_list %}
        <li>{{  pick[0] }} : {{ pick[1]  }}</li>
    {% endfor %}
</ul>

<script>
$(document).ready(function() {
    var socket = io.connect('http://' +document.domain + ':' + location.port, {transports: ['websocket']});

    socket.on('join room announcement', function(data) {
        console.log({{ username }});
        $('#msg_list').append('<li>some arsehole joined</li>');
        //if (data.username !== "{{ username }}") {
        //    const newNode = document.createElement('div');
        //    newNode.innerHTML = `<b>${data.username}</b> has joined the room`;
        //    document.getElementById('messages').appendChild(newNode);
       // }
    });

    socket.on('connect', function() {
        console.log({{  room_data.username  }});
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room_data.room_name }}"
        });  // end socket connect

        //let message_input = document.getElementById('message_input');

        document.getElementById('message_input_form').onsubmit = function(e) {
            e.preventDefault();
            let message = message_input.value.trim();
            console.log(message);
            if (message.length) {
                console.log(message);
                socket.emit('send_messages', {
                    username: "{{ username }}",
                    room: "{{ room_data.room_name }}",
                    message: message
                })
            }
            message_input.value ='';
            message_input.focus();
        }
    });

    //let page =0;

    //document.getElementById("load_older_messages_btn").onclick = (e) => {
    //    page +- 1;
    //    fetch("/rooms/{{ room_data._id }}/messages?page=" + page, {
    //        method: 'GET',
    //        headers: {
    //            'Content-Type': 'application.json'
    //        }
    //    }).then(response)=> {
    //        response.json().then(messages => {
    //            messages.reverse().forEach(message => prepend_message(message.text, message.sender, message.created_at));
    //        })
    //    })
    //};

    //function prepend_message(message, username, created_at) {
    //    const newNode = document.createElement('div');
    //    newNode.innerHTML = `<b>${username}&nbsp;[$(created_at}]:&nbsp;</b> ${message}`;
    //    const messages_div = document.getElementById('messages');
    //    messages_div.insertBefore(newNode, messages_div.firstChild);
    //}

    window.onbeforeunload = function () {
        socket.emit('leave_room', {
            username: "{{ username }}",
            room: "{{ room_data.room_name }}"
        })
    };

    socket.on('receive message', function(data) {
        console.log(data);
        console.log("in receive socket");
        $('#msg_list').append('<li><b>'+ data.username +': <b>' + data.message +'</li>');
        //const newNode = document.createElement('div');
        //newNode.innerHTML = `<b>${data.username}&nbsp;[$(data.created_at}]:&nbsp;</b> ${data.message}`;
        //document.getElementById('messages').appendChild(newNode);
    });

    socket.on('join_room_announcement', function(data) {
        console.log(data);
        $('#msg_list').append('<li><b>some arsehole joined<b></li>');
        //if (data.username !== "{{ username }}") {
        //    const newNode = document.createElement('div');
        //    newNode.innerHTML = `<b>${data.username}</b> has joined the room`;
        //    document.getElementById('messages').appendChild(newNode);
       // }
    });

    socket.on('leave_room_announcement', function(data) {
        console.log(data)
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}</b> has left the room`;
        document.getElementById('messages').appendChild(newNode);
    });

    let boob = $('#room_idA').val();
    console.log('this shit is: '+ boob);


    $('#driver_list-driver option').remove();
    $.ajax({
        type: "GET",
        url: "/ajax_get_drivers",
        processData: "false",
        data: {room_id: $('#room_idA').val()},
        dataType:"json",
        success: function(data) {
            console.log(data);
            driver_data = '';
            $.each(data, function() {
                //race_id = toString($(this).attr('race_id');
                driver_data += '<option value=\"' +$(this).attr('drv_id')+ '\">'+ $(this).attr('car_num') + ' - ' + $(this).attr('drv_full') +'</option>';
            });  // end each
            $('select[name="driver_list-driver"]').append(driver_data);
        }  //end success
    });  //end ajax

}); //end ready
</script>
{% endblock %}