body{
background-color: #FFE4C4;
}

#loginform{
margin-top: 100px;
border: 2px;
}

.page-form{
    max-width: 480px;
}

#pick_log{
background-color: white;
height: 300px;
width: 300pc;
overflow-y: scroll;
border: 1px solid black;

}
